.DS_Store
config.py
objectdb
*.pyc
*.c
.cache
.coverage
.ipynb_checkpoints
*.out
acido
15genome
tr-cross
podar*
dory*
twofoo*
data/SSR606249*
data/hu
data/mircea*
data/tr-cross*
aai*
SRR*
build/
dist/
spacegraphcats.egg-info/
*~
.vscode
.mypy_cache/
*.bgz
*.sig
.snakemake
aws_setup.sh
bcalm.*
*.gz
*.vec
*.vec.*
*.tar
strain_results
.pytest_cache/*
spacegraphcats/version.py
.eggs
