screed
pytest >= 5.1.2
pytest-dependency
numpy
pandas
snakemake == 7.3.8
click == 7.1.2
sortedcontainers
bbhash >= 0.5
https://github.com/dib-lab/khmer/archive/master.zip
sourmash>=4.2.2,<5
flake8
black
pre-commit
